body { font-family: Arial, Helvetica, sans-serif; font-size: 12px; background: #fff }
td, p { font-family: Arial, Helvetica, sans-serif; font-size: 12px }
h1 { font-family: Arial, Helvetica, sans-serif; font-size: 22px }
a.wa { font-size: 14px; font-weight: bold }
